// desktop and mobile container
.main-container {
  background: linear-gradient(151.17deg, #26c2b9 8.69%, #288be7 126.06%);
  max-width: 1920px;
  max-height: 1434px;
}
.q-page {
  height: 1042px;
}
.hyperhire-header {
  outline: #288be7;
  outline-style: solid;
  height: 60px;
  display: flex;
  width: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: unset;
  align-items: center;
  justify-content: space-around;
  .header-menu {
    display: flex;
    align-items: center;
    .header-menu-child::before,
    .header-menu-child:hover {
      box-shadow: none;
      color: unset;
      background-color: unset;
    }
    display: flex;
    .header-menu-child:nth-child(2) {
      margin-left: 56px;
    }
  }
}
.q-layout__section--marginal:hover {
  background-color: none;
}
.cursor-auto {
  cursor: auto;
}
.q-footer {
  position: relative;
  max-width: 1920px;
  min-height: 205px;
  background-color: unset;
  color: #343741;
}
